<div class="footer">
  <article class="container">
  
    <p class="r-group">What to be a part of our research group?</p>

    <div class="row">
      <div class="col-md-6">
        <p>Write to us</p>
        <p>mbaminfo@gmail.com</p>
      </div>

      <div class="col-md-6">
        <p>Follow Us</p>
        <p>Twitter</p>
      </div>
    </div>

  <ul class="footer-nav">
    <li><a href="{{ url_for('public.home') }}">Home</a></li>
    <li><a href="{{ url_for('public.about') }}">About</a></li>
    <li><a href="{{ url_for('public.FAQ') }}">FAQ</a></li>
    <li><a href="{{ url_for('public.contact') }}">Contact</a></li>
  </ul>
</article>

</div>
