<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}

    My Brain and Me

    {% endblock %}
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  {{ stylesheet_tag('main_css') | safe }}

  {% block css %}{% endblock %}

  <!-- JSGlue to enable FLask.url_for in javascript -->
  {{ JSGlue.include() }}

  <!-- Icon for browser-->
  <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="{{ asset_url_for('img/favicon_purple.png') }}" />

  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google Font-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&display=swap" rel="stylesheet">

</head>
<body class="{% block body_class %}{% endblock %}" data-gr-c-s-loaded="true">
{% block body %}

{% include "nav.html" %}

<!-- <header>{% block header %}{% endblock %}</header> -->

<main role="main">



{% block content %}{% endblock %}

</main>

{% include "footer.html" %}

<!-- JavaScript at the bottom for fast page loading -->
{{ javascript_tag('main_js') | safe }}
{% block js %}{% endblock %}
<!-- define js vars requiring jinja templating (other than url_for which is handled by Flask-JSGlue) below -->
<script type=text/javascript>
  $AXIAL_SAMPLE = "{{ asset_url_for('img/sample-axial-T1.png') }}";
  $COR_SAMPLE = "{{ asset_url_for('img/sample-cor-T1.png') }}";
  $SAG_SAMPLE = "{{ asset_url_for('img/sample-sag-T1.png') }}";

</script>
<!-- end scripts -->

{% endblock %}
</body>
</html>
