{% extends "layout.html" %}

{% block title %}About Page{% endblock %}

{% block content %}

<div class="container-narrow">
  <h4 class="mt-5">About My Brain and Me</h4>
    <div class="card">
        <div class="card-body">

        <p><h5>Have you volunteered for an MRI research study or had an MRI scan for clinical purposes?</h5></p>
        <p><h5>Do you have access to your structural MRI brain scan?</h5></p>
        <p><h5>Do you want to contribute to neuroscience research and learn more about neuroanatomy and neuroscience using your own brain?</h5></p>
        <p><br><h5>Then this site is for you!</h5></p>
        <p><br><h5>Purpose</h5></p>

        <p>MyBrainandMe.org is a website where you can learn more about neuroscience and your brain while enabling scientists to make new
        discoveries about how the brain works. MyBrainandMe.org is not-for-profit and directed by the Pantazatos lab affiliated with the Molecular
        Imaging and Neuropathology Division of New York State Psychiatric Institute. If you previously had a structural brain MRI scan for the purposes
        of an IRB approved research study or clinical evaluation, you can upload it to MyBrainandMe.org. Your data will contribute to a growing
        neuroscience resource that will be available to scientific researchers around the world.  At the same time, you will have an opportunity to
        view and explore your own anatomically labeled brain scan in your web browser. We also aim to increase public awareness and education of neuroscience.
        </p>

        <p><br><h5>Contribute to neuroscience research while learning about neuroscience and your brain.</h5></p>
        <p>MyBrainandMe allows you to upload and share your brain scan with researchers worldwide and participate in surveys and behavioral tasks online.
        Your privacy is protected because no personal identifying information is included in data that is shared. MyBrainandMe allows you to view your
        brain scan in a web browser along with neuroanatomical labels for each brain region.</p>

        </div>
    </div>
</div>
{% endblock %}
