{% extends "layout.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}

<div class="container">
    <div id ="faq">
        </br>
        <h3>Frequently Asked Questions</h3>
        <div class="card-group" id="accordion">

              <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-1">
                    What can this site tell me about my brain?
                    </a>
                    </h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>The site labels uploaded MRI scans, allowing you to learn neuroanatomy using your own brain. In the future, we anticipate providing
                    more features that will inform and engage users with neuroscience via their own brain.
                    </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                  href="#collapse-2">
                  I have a copy of my MRI scan, how do I get started?
                  </a>
                  </h4>
              </div>
              <div id="collapse-2" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>A tutorial with step-by-step instructions about how to get started will be posted soon.
                    Please check back!<thead>
                  </thead>
                  </p>
                  </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                  href="#collapse-3">
                  I am researcher and would like to administer my survey or psychophyics to site users
                  and link to their brain imaging data. How do I get started?
                  </a>
                  </h4>
              </div>
              <div id="collapse-3" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>A tutorial describing how to apply, register your experiment, and download anonymized
                  neuroimaging and phenotype data will be posted soon. Please check back!
                  </p>
                  </div>
              </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-4">
                    Who owns the data?
                    </a>
                    </h4>
                </div>
                <div id="collapse-4" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>By uploading your brain scan and completing surveys online, you are contributing to a unique
                    data resource for psychology and neuroscience researchers. Only researchers affiliated with a
                    recognized research institution who complete an online application will be allowed access
                    to your data, and no identifying information (i.e. email, birth date, full name if provided) will be shared.
                    </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-5">
                    Is my data secure?
                    </a>
                    </h4>
                </div>
                <div id="collapse-5" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Your imaging and any survey data are uploaded to a secure server which stores the original upload (dicom zip or nifti) and processed files for
        		    viewing in the browser. We make a best effort to ensure that outsiders and all other site participants are unable to view
        		    or access your data. The site is SSL-encrypted and includes the up-to-date user session and authentication features. All user data is stored
        		    in a password and firewall-protected database. The web app and database are hosted on servers that adhere to high standards for privacy and data
        		    security. Deidentified raw scan data and intermediate files are also backed up in a secure and SSL-encrypted <a href=https://www.xnat.org>XNAT</a>
        		    database. Please read the <a target=_blank href='/privacy'>Consent Form for Participation in Research</a> for more information.
                    </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-6">
                    Can I use this site to find out whether I have a neurological or psychiatric condition?
                    </a>
                    </h4>
                </div>
                <div id="collapse-6" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>You will not derive any direct clinical benefit by participating in this study. This site is intended to be used only for recreational
                    and educational purposes.
                    </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-7">
                    How is this site funded?
                    </a>
                    </h4>
                </div>
                <div id="collapse-7" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Development of the site has been supported in part through an NIMH K01 career development and training award (PI: Spiro Pantazatos).
                    The funders had no role in the design, conception and decision to publish the site. We hope this will become a valuable data resource for the
                    neuroscience community, and will seek support from federal funding agencies to support research initiatives via the site. We may also consider
                    crowdsourcing funding for certain features. With enough support we hope the site will be richly-featured and remain free to the public.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-8">
                    I am a programmer, researcher, or site user that would like more features.
                    How can I contribute?
                    </a>
                    </h4>
                </div>
                <div id="collapse-8" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>The Github repository with source code for the site UI/UX is private. We will likely create a public Github repo for segmentation and labeling
                    pipelines applied to users' MRI scans. If you would like to be added as a
                      collaborator to the project, please <a href="{{ url_for('public.contact') }}">contact</a> us and include a link to your Github profile and a short message
                      about your skills and interests. Likewise, to contribute a survey or psychophysics study
                      to the site please use the <a href="">researcher application form</a> to tell us bit
                      about your experiment (be sure to view the <a href=""> experiments already included </a>on the site).
                    </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-9">
                    I don't have a brain MRI scan, where can I get one?
                    </a>
                    </h4>
                </div>
                <div id="collapse-9" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Most large universities and research centers have on-going research studies involving brain imaging and that are actively recruiting
                    volunteers. If you live near one, we recommend contacting the psychology, neuroscience or psychiatry department to learn about volunteer opportunities.
                    If you do participate in a study, you can request your (structural) brain scan on a CD (folder of dicoms or NIFTI file) or USB drive. In the future we
                    may provide a form that you can fill out and submit to the lab or clinic where you received your MRI scan in order to authorize
                    them to send us your data.
                    </p>
                    </div>
                </div>
            </div>

        </div>

        <h5>Don't see your question listed? Please use the <strong><a href="{{ url_for('public.contact') }}">contact form</a></strong> to submit a question.</h5>

    </div>
</div>

{% endblock %}
