
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

      <h1 class="display-3 text-center">Welcome to My Brain and Me!</h1>
      {% if current_user.is_authenticated %}
          {% if not current_user.has_role('end-user') %}
              <p class="lead">If you would like to use the site to learn about your brain,
                  please complete a brief user profile. If you would like to use the site for your
                  own research, please fill out a short researcher application.</p>
                  <hr class="my-4">
                  <p class="lead text-center">
                      <a class="btn btn-primary btn-large" href="" role="button">Complete Profile</a>
                      <a class="btn btn-primary btn-large" href="" role="button">Apply</a>
                  </p>
          {% else %}
              {% if not current_user.experiments.first().struct_subjectSpace %}
                  <p class="lead">To get started, upload an MRI scan (if you already have one),
                  or complete a survey or psychophysics study.</p>
                  <hr class="my-4">
                  <p class="lead text-center">
                      <a class="btn btn-primary btn-large" href="" role="button">Upload Scan</a>
                      <a class="btn btn-primary btn-large" href="" role="button">Conduct Study</a>
                  </p>
              {% else %}
                  <p class="lead">View your raw or labeled MRI scan, or complete a survey or psychophysics study.</p>
                  <hr class="my-4">
                  <p class="lead text-center">
                      <a class="btn btn-primary btn-large" href="" role="button">My Brain</a>
                      <a class="btn btn-primary btn-large" href="" role="button">Conduct Study</a>
                  </p>
              {% endif %}
          {% endif %}
      {% else %}
          <p class="lead text-center">Please register or login. Click <a href='/about'>here</a> for an introduction to the site.</p>
          <hr class="my-4">
          <p class="lead text-center">
              <a class="btn btn-primary btn-large" href="{{ url_for('security.register') }}" role="button">Create account</a>
              <a class="btn btn-primary btn-large" href="{{ url_for('security.login') }}" role="button">Login</a>
          </p>
      {% endif %}

    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Bootstrap 4</h2>
      <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
      <p><a class="btn btn-outline-secondary" href="http://getbootstrap.com/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> SQLAlchemy</h2>
      <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-outline-secondary">Official website &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-outline-secondary">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
