
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

      <h1 class="display-3 text-center">Welcome to My Brain and Me!</h1>
      {% if current_user.is_authenticated %}
          {% if not current_user.experiments.scans %}
              <p class="lead text-center">Click below to upload your brain scan. If this is your first visit we will ask you to complete a basic user profile
              and read and agree to our consent form for participation in research.</p>
              <hr class="my-4">
              <p class="lead text-center">
                  <a class="btn btn-primary btn-large" href="{{ url_for( 'scan.add_experiment_and_scans' ) }}" role="button"><i class="fa fa-upload" aria-hidden="true"></i> Upload my scan</a>
              </p>
          {% else %}
              <p class="lead text-center">Click below to view your scans or complete a survey.</p>
              <hr class="my-4">
              <p class="lead text-center">
                  <a class="btn btn-primary btn-large" href="" role="button"><i class="fa fa-eye" aria-hidden="true"></i> My scans</a>
                  <a class="btn btn-primary btn-large" href="" role="button"><i class="fa fa-pencil-square" aria-hidden="true"></i> My surveys</a>
              </p>
          {% endif %}
      {% else %}
          <p class="lead text-center">Please register or login. Click <a href="{{ url_for('public.about') }}">here</a> for an introduction to the site.</p>
          <hr class="my-4">
          <p class="lead text-center">
              <a class="btn btn-primary btn-large" href="{{ url_for('security.register') }}" role="button">Create account</a>
              <a class="btn btn-primary btn-large" href="{{ url_for('security.login') }}" role="button">Login</a>
          </p>
      {% endif %}

    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h4><i class="fa fa-wpexplorer"></i> Explore your brain</h4>
      <p>Visualize and access your brain scan in a web browser and more!</p>
      <p><a class="btn btn-outline-secondary" href="" >Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h4><i class="fa fa-users"></i> Contribute towards research</h4>
      <p>Participate in studies that further our understanding of neuropsychology and mental health and illness.</p>
      <p><a href="" class="btn btn-outline-secondary">Learn more &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h4><i class="fa fa-external-link-square"></i> Additional Resources</h4>
      <p>Learn how to acquire a brain scan as part of study near you.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-outline-secondary">Learn more &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
