
{% extends "layout.html" %}
{% block content %}

<section role="media" class="header-spacer">
    <article class="container-fluid">
        <div class= "row rev-art">

                  <div class="col-md-6">
                    <div class="article-wrapper article-1">
                        <div class="article-description">
                          <p class="article-title">Spiro Pantazatos Presents 'My Brain and Me' at the 2019 NYC Media Lab Combine</p>
                          <p class="article-date">April 24, 2019</p>
                          <p class="article-para">In April, Spiro Pantazatos, PhD, Assistant Professor of Clinical Neurobiology in Psychiatry, presented his lab’s project, My Brain and Me, at the 2019 NYC Media Lab Combine (Demo Day). We spoke with Pantazatos about how he found his way to Columbia Psychiatry, his My Brain and Me project, and his experience at the NYC Media Lab Combine. </p>
                          <a class="article-button" href="https://www.columbiapsychiatry.org/news/spiro-pantazatos-presents-my-brain-and-me-2019-nyc-media-lab-combine" target="_blank">Read Full Article</a>
                        </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="article-image">
                      <img src="{{ asset_url_for('img/article/columbia.jpg') }}" class="spiro-columbia"></img>
                    </div>
                  </div>

              </div>


              <div class= "row">
                  <div class="col-md-6">
                    <div class="article-image image-brain">
                     <img src="{{ asset_url_for('img/article/brain.jpg') }}" class="combine-brain"></img>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="article-wrapper article-2">
                      <div class="article-description article-description2">
                        <p class="article-title">My Brain and Me</p>
                        <p class="article-date">January 2, 2019</p>
                        <p class="article-para">We want to help you see yourself like never before, and in the process, move scientific research forward, enabling discovery that will ease the burden of physical and mental illness.  </p>
                        <a class="article-button" href="https://www.thecombine.nyc/my-brain-and-me" target="_blank">Read Full Article</a>
                      </div>
                    </div>
                   </div>
              </div>
    </article>
</section>

{% endblock %}

