*.pyc
/cookiecutter_mbam/cookiecutter_mbam/node_modules
/.semaphore-cache
/cookiecutter_mbam/cookiecutter_mbam/webpack/manifest.json
/cookiecutter_mbam/mbam.log

._.DS_Store
**/.DS_Store
**/._.DS_Store
/landing_page/.firebase
/landing_page/.DS_Store
/cookiecutter_mbam/setup.cfg
/landing_page/public/returned-brain-demo/
/mbam-cfn-templates/._*


secrets*

