{% extends "base.html" %}

{% block title %}My Experiment Test{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <ul class="text-center">
        <h4>Click below after finishing the experiment.</h4>     
    </ul>
    <ul class="text-center">
      <a href="/index" class="btn btn-primary">Exit</a>
    </ul>
  </div>
</div>

<p><br/></p>
    <iframe src="{{ Study_URL }}" 
        width="100%" height="1000" frameborder="2"
		allowfullscreen>
    </iframe>

{% endblock %}
