/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

/* Nav Bar and Splash page*/
.navbar-custom {
  /*background-color: #f59ddd fucia pink */
  background-color: #30f7ef;
  height: 80px;
}

.btn-link {
  text-align: left;
  white-space:normal !important;
  word-wrap: break-word;
}

.card-header {
  background-color: rgba(48, 247, 239, .25)
}

.modal { overflow: auto !important; }

/*
.btn {
  background-color: #8358ad; /* shade of purple can change
} */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand {
    padding-top: 25px;
}

.jumbotron {
  background-color: #30f7ef
}

/* Welcome to My Brain and Me */
.display-3 {
  /*color: #8358ad the nice purple */
  color: black;
  font-size: 48px;
}

/* Forms */

.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
