{% extends "layout.html" %}

{% block title %}User Register{% endblock %}

{% block content %}


<div class="container-narrow">
      <div class="container-wrapper">
        <h3>New User? Please Sign up</h3>
          <div class="form-wrapper">
          {% from "security/_macros.html" import render_field, render_field_with_errors %}
          {% include "security/_messages.html" %}
          <form id=registerForm method="POST" action="{{ url_for_security('register') }}" name="register_user_form" role="form">
              {{ register_user_form.hidden_tag() }}
              {{ render_field_with_errors(register_user_form.email, class='form-control') }}
              {{ render_field_with_errors(register_user_form.password, class='form-control') }}
              {% if register_user_form.password_confirm %}
                {{ render_field_with_errors(register_user_form.password_confirm, class='form-control') }}
              {% endif %}
              {{ render_field(register_user_form.submit, class_="btn btn-primary") }}
              <p>Already have an account? <a href="/login">Login</a></p>
          </form>
        </div>
      </div>

</div>

{% endblock %}
