{% extends "layout.html" %}

{% block title %}User Register{% endblock %}

{% block content %}

<div class="container-narrow">
      <h3 class="mt-5">User Registration</h3>

      {% from "security/_macros.html" import render_field, render_field_with_errors %}
      {% include "security/_messages.html" %}
      <form id=registerForm method="POST" action="{{ url_for_security('register') }}" name="register_user_form" role="form">
          {{ register_user_form.hidden_tag() }}
          {{ render_field_with_errors(register_user_form.email, class='form-control') }}
          {{ render_field_with_errors(register_user_form.password, class='form-control') }}
          {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm, class='form-control') }}
          {% endif %}
          {{ render_field(register_user_form.submit, class_="btn btn-primary") }}
      </form>

</div>

{% endblock %}
