{% extends "layout.html" %}
{% block content %}

<div class="container-narrow">
  <h4 class="mt-5">Edit Scan Metadata</h4>
      <form method="POST" action="{{ url_for('scan.edit_scan', id=scan.id) }}" enctype="multipart/form-data" role="form">
      {% from "security/_macros.html" import render_field, render_field_with_errors %}
      {{ session_form.hidden_tag() }}
      {{ render_field_with_errors(session_form.label, class='form-control') }}
      <button type="submit" class="btn btn-success custom-width">Update</button>
      <a href="{{ url_for('display.displays') }}" class="btn btn-primary">Cancel</a>
      </form>
</div>

{% endblock %}
