<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8">
        <!-- below for mobile papaya usage MAKE SURE WORKS
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">-->
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        
        <!-- Papaya, Bootstrap, FontAwesome, custom CSS and Bootstrap-Social-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='papaya/build/papaya.css')}}"/>
        <link href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">

    </head>
    
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-data" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ url_for('index') }}" class="navbar-brand">MBAM (alpha)</a>
                </div>
                <div class="collapse navbar-collapse" id="nav-data">
                    <ul class="nav navbar-nav">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not session.get('username') %}
                            <li><a href="{{url_for('register')}}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a></li>
                            <li><a href="{{url_for('login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                        {% else %}
                            {% if session['scan_uploaded'] %}
                                <li><a href="{{url_for('raw_view')}}"><img src="/static/images/brain_icon_svg.svg" height="18px"> My Brain</a></li>
                            {% endif %}
                            <li><a href="{{url_for('upload')}}"><i class="fa fa-upload fa-fw" aria-hidden="true"></i> Upload Scan</a></li>
                            <li><a href="{{url_for('study_index')}}"><i class="fa fa-television" aria-hidden="true"></i> Conduct Study</a></li>
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ session.get('username') }}</a></li>
                            <li><a href="{{url_for('logout')}}"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}{% endblock %}
            <div class="col-md-offset-3 col-md-6">
                <hr>
                    <footer>
                        <div class="row">
                            <ul id="menu" class="text-center">
                                {% if session.get('username') %} <li><a href="{{ url_for('logout') }}">Logout &#8226;</a></li>
                                {% else %} <li><a href="{{ url_for('login') }}">Login &#8226;</a></li>{% endif %}
                                <li><a href="#">Github &#8226;</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                            
                            <ul id="menu" class="text-center">
                                <li><a class="btn btn-inline btn-social btn-twitter btn-xs">
                                <span class="fa fa-twitter"></span>Tweet</a></li>
                                <li><a class="btn btn-inline btn-social btn-twitter btn-xs">
                                <span class="fa fa-twitter"></span>Follow @mbam</a></li>
                                <li><a class="btn btn-inline btn-social btn-facebook btn-xs">
                                <span class="fa fa-facebook"></span>Share</a></li>
                                <li><a class="btn btn-inline btn-social btn-facebook btn-xs">
                                <span class="fa fa-facebook"></span>Like</a></li>
                            </ul>
                            
                            <div class="col-md-offset-1 col-md-7">
                                <h5 style="padding-top:7px";>Created and maintained by <a href="#">Spiro Pantazatos</a></h5>
                                <h5>Supported in part by NIMH award K01MH108721</h5>
                            </div>
                            <div class="col-md-3">
                                <img src="/static/images/nimh-logo.png" width="100px" height="100px">
                            </div>
                        </div>
                    
                    </footer>
            </div>
        </div>
        
        <!-- jQuery for Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Papaya JS -->
        <script type="text/javascript" src="{{url_for('static', filename='papaya/build/papaya.js')}}"></script>
        <!-- Custom JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>
</html>