{% extends "layout.html" %}
{% block content %}

<section role="content-uni-wrapper">
    <div class="container">
      <div class="container-displays">
        {% if displays %}
          <h4>These are your available displays.</h4>
        {% else %}
          <h4>There are no scans in your dashboard. Upload a scan <a href="{{ url_for( 'experiment.add' ) }}">here</a></h4>
        {% endif %}

        <table>
        <thead>
          <th>Session</th>
          <th>Scan</th>
          <th>View 2D</th>
          <th>View 3D</th>
        </thead>

        <tbody>
        <!-- initialize list to remember which sessions have been listed to avoid listing date again -->
        {% set exp_id_list = [] %}

        {% for scan in displays %}

        <tr>
            {% if scan.experiment_id not in exp_id_list %}
              <td>{{ scan.parent_experiment.date }}
                <!-- Uncomment below line, and comment 2nd line to use the modal version of the form -->
                <a data-toggle="modal" data-target="#editSessionModal" data-url="{{ url_for('experiment.edit_experiment', id=scan.experiment_id) }}"
                   data-date="{{ scan.parent_experiment.date }}"
                   data-field_strength="{{ scan.parent_experiment.field_strength }}"
                   data-scanner="{{ scan.parent_experiment.scanner }}">
                <!--<a href="{{ url_for('experiment.edit_experiment', id=scan.experiment_id) }}">-->
                <i class="fa fa-edit" aria-hidden="true"></i></a>

                <a data-toggle= "modal" data-target="#deleteSessionModal" data-url="{{ url_for('experiment.delete_experiment', id=scan.experiment_id) }}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>

              </td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{ scan.label }}
              <!-- Uncomment below line, and comment 2nd line to use the modal version of the form -->
              <a data-toggle="modal" data-target="#editScanModal" data-url="{{ url_for('scan.edit_scan', id=scan.id) }}"
                 data-label="{{ scan.label }}">
                <!--<a href="{{ url_for('scan.edit_scan', id=scan.id) }}">-->
                <i class="fa fa-edit" aria-hidden="true"></i><a/>

                <a data-toggle="modal" data-target="#deleteScanModal" data-url="{{ url_for('scan.delete_scan', id=scan.id) }}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
            <td>
                 <span><a href="{{ url_for('display.slice_view',id=scan.id) }}">View</a></span>
            </td>
            <td>
                 <h5>Placeholder</h5>
            </td>
        </tr>
        <!-- increment the list of session ids -->
        {{ exp_id_list.append(scan.experiment_id) or "" }}
        {% endfor %}
        </tbody>

        </table>
      </div>
    </div>
</section>

    <!-- add the edit session form -->
    {% include "experiments/edit_experiment_modal.html" %}
    <!-- add the edit scan form -->
    {% include "scans/edit_scan_modal.html" %}

    <!-- add the delete scan form -->
    {% include "scans/delete_scan_modal.html" %}
    <!-- add the delete experiment form -->
    {% include "experiments/delete_experiment_modal.html" %}


{% endblock %}
