{% extends "layout.html" %}
{% block content %}

<section role="content-uni-wrapper">
    <div class="container">
      <div class="container-displays">
        {% if displays %}
          <h4>Scans Dashboard</h4>
        {% else %}
          <h4>There are no scans in your dashboard.</h4>
        {% endif %}

        <table>
        <thead>
          <th>Session</th>
          <th>Scan</th>
          <th>View 2D</th>
          <th>View 3D</th>
        </thead>

        <tbody>
        <!-- initialize list to remember which sessions have been listed to avoid listing date again -->
        {% set exp_id_list = [] %}

        {% for scan in displays %}

        <tr>
            {% if scan.experiment_id not in exp_id_list %}
              <td>{{ scan.experiment.date }}
                <!-- Uncomment below line, and comment 2nd line to use the modal version of the form -->
                <a data-toggle="modal" data-target="#editSessionModal" data-url="{{ url_for('experiment.edit_experiment', id=scan.experiment_id) }}"
                   data-date="{{ scan.experiment.date }}"
                   data-field_strength="{{ scan.experiment.field_strength }}"
                   data-scanner="{{ scan.experiment.scanner }}">
                <!--<a href="{{ url_for('experiment.edit_experiment', id=scan.experiment_id) }}">-->
                <i class="fa fa-edit" aria-hidden="true"></i></a>

                <a data-toggle= "modal" data-target="#deleteSessionModal" data-url="{{ url_for('experiment.delete_experiment', id=scan.experiment_id) }}">
                <i class="fa fa-trash" aria-hidden="true"></i></a>

              </td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{ scan.label }}
              <!-- Uncomment below line, and comment 2nd line to use the modal version of the form -->
              <a data-toggle="modal" data-target="#editScanModal" data-url="{{ url_for('scan.edit_scan', id=scan.id) }}"
                 data-label="{{ scan.label }}">
                <i class="fa fa-edit" aria-hidden="true"></i></a>

                <a data-toggle="modal" data-target="#deleteScanModal" data-url="{{ url_for('scan.delete_scan', id=scan.id) }}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
            <td>
              {% if scan.aws_key.endswith('.zip') %}
                {% for d in scan.derivations %}
                 {% if d.process_name == 'dicom_to_nifti' %}
                   {% if d.aws_status == 'Uploaded' %}
                      <span><a href="{{ url_for('display.slice_view',id=scan.id) }}">View</a></span>
                    {% else %}
                      <span>Pending</span>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% else %}
                {% if scan.aws_status == 'Uploaded' %}
                  <span><a href="{{ url_for('display.slice_view',id=scan.id) }}">View</a></span>
                {% else %}
                  <span>Pending</span>
                {% endif %}
              {% endif %}
            </td>
            <td>
            {% for d in scan.derivations %}
              {% if d.process_name == 'fs_to_mesh' %}
                {% if d.aws_status == 'Uploaded' %}
                  <span><a href="{{ url_for('display.threed_view',id=scan.id) }}">View</a></span>
                {% else %}
                  <span>Pending</span>
                {% endif %}
              {% endif %}
            {% endfor %}
            </td>
        </tr>
        <!-- increment the list of session ids -->
        {{ exp_id_list.append(scan.experiment_id) or "" }}
        {% endfor %}
        </tbody>

        </table>

        <p>&nbsp;<a href="{{ url_for( 'experiment.add' ) }}"><u>Add a scan.</u> <i class="fa fa-upload"></i></a></p>

      </div>
    </div>
</section>

    <!-- add the edit session form -->
    {% include "experiments/edit_experiment_modal.html" %}
    <!-- add the edit scan form -->
    {% include "scans/edit_scan_modal.html" %}

    <!-- add the delete scan form -->
    {% include "scans/delete_scan_modal.html" %}
    <!-- add the delete experiment form -->
    {% include "experiments/delete_experiment_modal.html" %}


{% endblock %}
