{% extends "layout.html" %}

{% block content %}

    <title>Papaya Viewer</title>
    <link href="{{ url_for('static',filename='papaya/papaya.css') }}" rel="stylesheet">

    <div class="container-narrow">
        <h4 class="mt-5">This is your brain scan.</h4>
        <p><a href="{{ url_for('display.displays') }}">Displays menu</a></p>
        <div class="papaya" data-params="params"></div>
    </div>

    <script type="text/javascript" src="{{ url_for('static',filename='papaya/papaya.js') }}"></script>

    <script type="text/javascript">
        var params = [];
        params["images"] = [ "{{ url|safe }}" ];
        params["worldSpace"] = false; // Doesn't seem to work.
        params["smoothDisplay"] = false; // Doesn't seem to work. Can only apply when clicking Globe in top right
        params["kioskMode"] = false;

        // Below will pull the filename along with the Cloudfront signature, but
        // it doesn't seem to work in terms of apply parameters to the image instance
        // Should fix this at some point. See Papaya docs at https://github.com/rii-mango/Papaya/wiki/Configuration
        //var filename = "{{ url|safe }}".substring("{{ url|safe}}".lastIndexOf('/')+1)
        //params[filename] = {"interpolation": false, "min": 20, "max": 200}

    </script>

{% endblock %}
