{% extends "layout.html" %}

{% block content %}

<section role="content-uni-wrapper">
      <div class="container-displays">
        <!-- Use some slightly different colors from default, or funky colors to make it obvious the overrides worked. -->
        <iframe id="mbam3d" src="brain_explorer.html" style="width:100%;height:480px" data-objects='[
            {"url": "https://mbam-test-files.s3.amazonaws.com/models/default/testing/all.smooth.glb"}
        ]'></iframe>
        <!-- The iframe must have id of "mbam3d".
             The data-objects attribute contains a json list of objects.
             All css colors and xkcd (https://blog.xkcd.com/2010/05/03/color-survey-results/) colors are supported. -->
        </div>
</section>

{% endblock %}
