{% extends "layout.html" %}
{% block content %}

<section role="content-uni-wrapper">
      <div class="container-displays">
        <p class="go-b"><a href="{{ url_for('display.displays') }}"><i class="fa fa-arrow-left pr-2"></i>Go to scans dashboard</a></p>
        <h4 class="mt-5 mb-3">{{ scan.label }}</h4>
        <!-- Use some slightly different colors from default, or funky colors to make it obvious the overrides worked. -->
        <iframe id="dragonfruit" src="dragonfruit.html" style="width:100%;height:480px" data-objects='[ {"url": "{{ url|safe }}" }]'></iframe>
        <!-- The iframe must have id of "dragonfruit".
             The data-objects attribute contains a json list of objects.
             All css colors and xkcd (https://blog.xkcd.com/2010/05/03/color-survey-results/) colors are supported. -->
        </div>
</section>

{% endblock %}
