{% extends "layout.html" %}
{% block content %}

<section role="content-uni-wrapper">
	<div class="container">
	    <div class="form-wrapper">
	          <h3>Remove scan with label "{{ scan.label }}" from your dashboard?</h3>
	          <form method="POST" action="{{ url_for('scan.delete_scan', id=scan.id) }}" enctype="multipart/form-data" role="form">
		       {% from "security/_macros.html" import render_field, render_field_with_errors %}
		       {{ scan_form.hidden_tag() }}
		      <div class="btn-section mt-4">
		      	<button type="submit" class="btn btn-success custom-width float-right remove-button">Remove</button>
		      	<button type="cancel" onclick="window.location='{{ url_for('display.displays') }}';return false;" class="btn btn-outline-secondary">Cancel</button>
		      </div>
		      </form>
	    </div>
	</div>
</section>

{% endblock %}
