{% extends "layout.html" %}
{% block content %}

<section role="team" class="header-spacer">
    <article class="container">
        <span class="s-head">Team</span>
        <div class="row team-wrapper">
            <div class="col-md-4 col-sm-6 col-6 team-member">
              <img class="team-image" src="{{ asset_url_for('img/team/spiro.png') }}">
                <a href="https://www.columbiapsychiatry.org/profile/spiro-pantazatos-phd" target="_blank"><p class="member-name">Spiro Pantazatos, PhD</p></a>
                <p class="member-title">Founder and Team Lead <br>Neuroinformatics</p>
            </div>

            <div class="col-md-4 col-sm-6 col-6 team-member">
              <img class="team-image" src="{{ asset_url_for('img/team/katie.png') }}">
                <a href="https://www.columbiapsychiatry.org/research-labs/brain-imaging-lab" target="_blank"><p class="member-name">Katie Surrence, MS</p></a>
                <p class="member-title">Web Development</p>
            </div>

            <div class="col-md-4 col-sm-6 col-6 team-member">
              <img class="team-image" src="{{ asset_url_for('img/team/mike.png') }}">
                <a href="https://www.columbiapsychiatry.org/research-labs/brain-imaging-lab" target="_blank"><p class="member-name">Mike Schmidt, PhD</p></a>
                <p class="member-title">Computational Neuroanatomy</p>
            </div>
        </div>

        <span class="s-head">Designer</span>
        <div class="row team-wrapper">
          <div class="col-md-4 col-sm-6 col-6 team-member">
              <img class="team-image" src="{{ asset_url_for('img/team/barsha.jpg') }}">
                <a href="https://www.baarshaa.com/" target="_blank"><p class="member-name">Barsha Maharjan, MFA</p></a>
                <p class="member-title">UI/UX Design and Development</p>
          </div>
        </div>

        <span class="s-head">Contributors</span>
        <div class="row team-wrapper">
          <div class="col-md-4 col-sm-6 col-6 team-member">
              <img class="team-image" src="{{ asset_url_for('img/team/spiro.png') }}">
                <a href="https://www.columbiapsychiatry.org/profile/spiro-pantazatos-phd" target="_blank"><p class="member-name">Spiro Pantazatos, PhD</p></a>
                <p class="member-title">Founder and Team Lead <br>Neuroinformatics</p>
            </div>
            <div class="col-md-4 col-sm-6 col-6 team-member">
              <img class="team-image" src="{{ asset_url_for('img/team/spiro.png') }}">
                <a href="https://www.columbiapsychiatry.org/profile/spiro-pantazatos-phd" target="_blank"><p class="member-name">Spiro Pantazatos, PhD</p></a>
                <p class="member-title">Founder and Team Lead <br>Neuroinformatics</p>
            </div>
            <div class="col-md-4 col-sm-6 col-6 team-member">
              <img class="team-image" src="{{ asset_url_for('img/team/spiro.png') }}">
                <a href="https://www.columbiapsychiatry.org/profile/spiro-pantazatos-phd" target="_blank"><p class="member-name">Spiro Pantazatos, PhD</p></a>
                <p class="member-title">Founder and Team Lead <br>Neuroinformatics</p>
            </div>
        </div>
    </article>

</section>

{% endblock %}
